.divisor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

    text-align: left;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

}

.containerProdutos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: CENTER;
  justify-content: CENTER;


}

.divProdutos{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 0 3 rem 0;

   
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.alinhamentoBtn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}