.nomeProduto{
    text-align: left;
    color: #888888;

}
.descricao{
    text-align: left;
    color: #888888;
font-size: 10px ;
}
.precoAnterior{
    text-align: left;
    color: #888888;
   font-size: 10px;
}
.precoAtual{
    text-align: left;
    font-weight: bold;
    color: #888888;

}
.parcelas{
    text-align: left;
    color: #888888;
    font-size: 10px;
}

.comprar{
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: #888888;
    background-color: #FFFFFF;
    border-width: 0.5px;
    border-color: #888888;
   box-shadow: 0;
}